<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
    {% include custom-head.html %}
</head>
<body>
    {% include sidebar.html %}
    <header class="site-header">
        <div class="wrapper">
            <a class="site-title" rel="author" href="{{ "/" | absolute_url }}">{{ site.title | escape }}</a>
        </div>
    </header>

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    <footer class="site-footer h-card">
        <div class="wrapper">
            <div class="footer-col-wrapper">
                <div class="footer-col footer-col-1">
                    <p>{{ site.title | escape }}</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html> 